@import "tailwindcss";

@keyframes card-hover {
  0% {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  100% {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    background-color: #f9fafb; /* gray-50 */
  }
}

.animate-card-hover {
  animation: card-hover 0.3s forwards;
}

.reverse-card-hover {
  animation: card-hover 0.3s reverse forwards;
}

body{
    background-color: #F8F8FF;
}